# Editor backups
*~

# macOS
.DS_Store

# Jekyll build output/cache
_site/
.bundle/
.jekyll-cache/
.jekyll-metadata
.sass-cache/

# Python/Jupyter cache
.pytest_cache/
__pycache__/
*.py[cod]
.ipynb_checkpoints/
