---
layout: post
date:   ""
title: "All posts"
---
<ul>
  {%for post in site.posts %}
    <li><a href="{{ post.url }}"> {{ post.title }}</a></li>
  {% endfor %}
</ul>

<ul>
  {%for post in site.posts %}
    {% if post.tags contains "blog" %}
      <li><a href="{{ post.url }}"> {{ post.title }}</a></li>
    {% endif %}
  {% endfor %}
</ul>

<ul>
  {%for tag in site.tags %}
    {% if tag[0] == "blog" %}
      <li><a href="{{ post.url }}"> {{ tag[1].title }}</a></li>
    {% endif %}
  {% endfor %}
</ul>


<p><a href="/feed.xml">RSS feed</a></p>
