<header>
  <h1><a href="/">Andrew Smith</a></h1>
  <img src="/headshot_outside_just_head.jpg"/>
  <!-- <ul>
    <li><a href="/">about</a></li>
    <li><a href="/posts">blog</a></li>
    <li><a href="mailto:andrew.julien.smith@gmail.com">email</a></li>
    <!-- <li><a href="/pdfs/cv.pdf">CV</a></li> --'REMOVE'>
  </ul> -->
  <a href="/">about</a> <br>
  <a href="/posts">blog</a> <br>
  <a href="mailto:andrew.julien.smith@gmail.com">email</a> <br>
  <!-- <a href="https://www.facebook.com/andy.smith.9279807"  target="_blank" rel="noopener noreferrer">facebook</a> -->

</header>

